p, h1, h2, h3, h4, h5, h6, td {
	font-family: sans-serif;
}

body {
	background-color: black
}

p a , h3 a {
	color: black;
}

td {
	padding-right: 10px;
}

#main {
	margin: auto;
	background-color: rgb(90,181,181);
	padding: 10px;
	width: 50%;
	border: ridge;
}

h1 a {
	color: rgb(90,181,181);
	text-decoration: none;

}

.mainlink {
	text-decoration: none;
	color: black;
}

.smallimg {
	width: 20%;
}

.post {
	border-bottom: solid;
}