body {
	background-color: rgb(0,74,127);
}

#main {
	background-color: rgb(127,201,255);
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 20px;
}

#navbar {
	background-color: rgb(56,131,54);
	width: 100%;
	max-width: 1000px;
	padding: 0 20px 0 20px;
	margin: auto;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

#main a {
	color: black;
	text-decoration: underline;
}

#main a:hover p, #main p a:hover{
	color: purple;
}

#navbar h3 {
	margin: 0;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

#navbar li {
	display: inline-block;
	padding: 0 10px 0 10px;
	background-color: rgb(101,190,99);
}

#navbar a:hover {
	color: purple;
}

.site-intro {
	font-size: 20px;
}

p, h1, h2, h3, h4, h5, h6 , td {
	font-family: monospace;
}

#navbar li a {
	color: black;
	text-decoration: none;
}

#sitetitle {
	color: black;
	text-decoration: none;
	text-align: center;
}