/* DIVS */

#main {
	width: 60%;
	background-color: rgb(143,186,211);
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: rgb(0,100,100);
}

/* TEXT */

p {
	font-family: monospace;
}

#sitetitle {
	color: black;
	text-decoration: none;
	text-align: center;
	font-family: monospace;
}

h2, h3, #otherstuff {
	margin: 0;
	font-family: monospace;
}

a:link {
	color: rgb(0,100,100);
	text-decoration: none;
}

a:visited {
	color: rgb(255,100,100);
	text-decoration: none;
}

table {
	background-color: rgb(0,50,50);
	padding: 5px;
}

td {
	background-color: rgb(0,125,125);
	padding: 5px;
	font-family: monospace;
}

td a:link {
	color: rgb(0,200,200);
}

/* NAVIGATION BAR */

ul {
	list-style-type: none;
	background-color: rgb(0,150,0);
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	width: 60%;
	margin-bottom: 0;
}

li {
	float: left;
}

li a {
	display: block;
	background-color: rgb(0,200,0);
	color: rgb(0,0,0);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

li a:link {
	color: black;
	font-family: monospace;
	font-weight: bold;
}

li a:hover {
	background-color: rgb(0,255,0);
}

#navlinks {
	color: black;
}

/* CLASSES */

.secret-text {
	color: rgb(0,100,100);
	text-align: center;
}

.albumimg {
	display: block;
	margin: 0 auto;
}